<%- include('../../partials/hade.ejs') %>

    <div class="container main mt-4 mb-4">

        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/auth/signup" method="POST">
                        <h4>Create A New Account</h4>

                        <div class="form-group">
                            <label for="username">User Name (Must Be Uniq) </label>
                            <input type="text" name="username" class="form-control <%= error.username ? 'is-invalid' : ''  %> " id="username" aria-describedby="emailHelp" placeholder="@username" value="<%= value.username ? value.username : '' %> ">
                            <div class="invalid-feedback">
                                <%= error.username && error.username %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control <%= error.email ? 'is-invalid' : ''  %> " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="exam@gmail.com" value="<%= value.email ? value.email : '' %>">
                            <small id=" emailHelp " class="form-text text-muted ">We'll never share your email with anyone else.</small>
                            <div class="invalid-feedback ">
                                <%= error.email && error.email %>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputPassword1 ">Password</label>
                            <input type="password" name="password" class="form-control <%= error.password ? 'is-invalid' : '' %> " placeholder="********" id="exampleInputPassword1">
                            <small id="exampleInputPassword1" class="form-text text-muted">Must Be Strong.</small>
                            <div class="invalid-feedback">
                                <%= error.password && error.password %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2">Confirm Password</label>
                            <input name="confirmPassword" type="password" placeholder="********" class="form-control <%= error.confirmPassword ? 'is-invalid' : ''  %> " id="exampleInputPassword2">
                            <div class="invalid-feedback">
                                <%= error.confirmPassword && error.confirmPassword %>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary form-control" value="SignUp">
                    </form>
                </div>
                <a class="m-2" href="/auth/login">Alredy Have An Account ? LogIn Here</a>
            </div>
        </div>

    </div>

    <%- include('../../partials/footer.ejs') %>
        </body>

        </html>