<%- include('../../partials/hade.ejs') %>


    <div class="container-fluid">
        <div class="row my-5">
            <div class="col-md-2">
                <%- include('../../partials/sideBar.ejs') %>
            </div>
            <div class="col-md-10">
                <div class=" card card-body">
                    <h5>Recently Created Post</h5>
                    <div class="row">
                        <% if(posts.length===0){ %>
                            <div class="text-center text-muted">
                                <p>There is no posts available right now</p>
                                <a href="/posts/create" class="btn btn-primary">Create Your Post</a>
                            </div>
                            <% }else{ %>

                                <% for(let post of posts){ %>
                                    <div class="card col-sm-3 m-3">

                                        <% if(post.thumbail){ %>
                                            <img class="card-img-top mt-3" src="<%= post.thumbail  %> " alt="<%= post.title %> ">
                                            <% } %>

                                                <div class="card-body">
                                                    <a href="/posts/edit/<%= post._id %> " style="color:#222">
                                                        <h5>
                                                            <%= post.title %>
                                                        </h5>
                                                    </a>
                                                </div>
                                    </div>
                                    <% } %>

                                        <% } %>
                    </div>

                </div>

                <div class="card card-body mt-3">
                    <h5>Recently Bookmarked Posts</h5>
                    <div class="row mt-3">
                        <% if(bookmarks.length===0){ %>
                            <div class="text-center text-muted">
                                <p>You Dont Bookmarked Any Posts</p>
                            </div>
                            <% }else{ %>

                                <% for(let post of bookmarks){ %>
                                    <div class="card col-sm-3 m-3">

                                        <% if(post.thumbail){ %>
                                            <img class="card-img-top mt-3" src="<%= post.thumbail  %> " alt="<%= post.title %> ">
                                            <% } %>

                                                <div class="card-body">
                                                    <a href="/web/<%= post._id %> " style="color:#222">
                                                        <h5>
                                                            <%= post.title %>
                                                        </h5>
                                                    </a>
                                                </div>
                                    </div>
                                    <% } %>

                                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <%- include('../../partials/footer.ejs') %>
        </body>

        </html>

        </html>