<%- include('../../../partials/hade.ejs') %>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../../partials/sideBar.ejs') %>
            </div>
            <div class="col-md-10 my-5">
                <div class=" card card-body p-5  mx-5">
                    <form method="POST" action="/posts/create" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Enter Your title</label>
                            <input name="title" id="title" class="form-control  <%= error.title ? 'is-invalid' : ''  %> " type="text" value="<%= value.title ? value.title : '' %> ">
                            <div class="invalid-feedback">
                                <%= error.title && error.title %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tiny">Enter Post Body</label>
                            <textarea name="body" id="tiny" class="form-control <%= error.body ? 'is-invalid' : ''  %> "><%= value.body ? value.body : '' %></textarea>
                            <div class="invalid-feedback">
                                <%= error.body && error.body %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tags">Enter Some Tag (Max 10) </label>
                            <input id="tags" name="tags" class="form-control
                            <%= error.tags ? 'is-invalid' : ''  %> " type="text" placeholder="tag1,tag2 etc">
                            <div class="invalid-feedback">
                                <%= error.tags && error.tags %>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Uplode File</span>
                            </div>
                            <div class="custom-file">
                                <input name="postThumbail" type="file" class="custom-file-input" id="inputeGropFile">
                                <label for="inputeGropFile" class="custom-file-label">Choose File</label>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Create Post">
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <%- include('../../../partials/footer.ejs') %>
        <!-- tiny text editor -->
        <script src="https://cdn.tiny.cloud/1/nt3i8whkt7e9w86d88yu1khn9dj0upprnlewzyebpepfe8r8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

        <script src="/scripts/tinyMc.js"></script>

        <script>
            $('#inputeGropFile').on('change', function(e) {
                let fileName = e.target.files[0].name
                $(this).next('.custom-file-label').html(fileName)
            })
        </script>
        </body>

        </html>